<article class="hentry" role="article">
  <header>
    <h1 class="entry-title">{{ post.title }}</h1>
  </header>
  <div class="entry-content">
    {{ content }}
  </div>
  <footer class="meta">
    <p>
      posted on <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate><a href="/{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time>
      {% if post.tags[0] %}
        in: {{ post.tags | tag_links }}
      {% endif %}
    </p>
    
    {% if page.previous.url || page.next.url %}
      <nav id="post-navigation">
        <div class="left"> 
          {% if page.next.url %} 
            <a href="/{{page.next.url}}" title="Next post: {{page.next.title}}">&laquo; {{page.next.title}} </a> 
          {% endif %} 
        </div> 
        <div class="right">
          {% if page.previous.url %} 
            <a href="/{{page.previous.url}}" title="Previous post: {{page.previous.title}}"> {{page.previous.title}} &raquo;</a> 
          {% endif %}          
        </div>
      </nav>
      
      <nav id="archive" role="navigation">
        <ul class="navigation">
          <li><a href="/blog">See all posts</a></li>
        </ul>
      </nav>
    {% endif %}

  </footer>
</article>

