<div class="vcard">
  <img src="http://www.gravatar.com/avatar/7b8358b18c863112b3cbaa4a5ba34449.png" class="photo left" alt="Sarah Prasuhn" >
  <p>A principal in <a href="http://shomeya.com">Shomeya</a>, I'm also a mom and an artist I currently residing in Portland, Oregon.</p>
  <p>You can find me on <a href="https://twitter.com/#!/sarah__p" rel="me">Twitter</a>, <a href="https://github.com/sarahp">GitHub</a>, <a href="http://drupal.org/user/199064" rel="me">Drupal.org</a>, or <a href="https://www.facebook.com/sarahunderscorep">Facebook</a>.</p>
</div>
