<div class="vcard">
  <img src="http://www.gravatar.com/avatar/45f8631bbdfd2494142df39c5943783e.png?s=75" class="photo left" alt="Michael Prasuhn" >
  <p>Hi, I'm Michael Prasuhn. I'm a software developer, audio engineer, and principal in <a href="http://shomeya.com">Shomeya</a>. I currently reside in Portland, OR with my family.</p>
  <p>You can find me on <a href="https://twitter.com/#!/mikey_p" rel="me">Twitter</a>, <a href="https://github.com/mikeyp">GitHub</a>, <a href="http://drupal.org/user/62496" rel="me">Drupal.org</a>, or <a href="https://www.facebook.com/no.underscores.allowed">Facebook</a>. I can be reached at <a href="mailto:mike@mikeyp.net">mike@mikeyp.net</a>.</p>
</div>
