<div class="vcard">
  <img src="http://www.gravatar.com/avatar/7b8358b18c863112b3cbaa4a5ba34449.png" class="photo left" alt="Sarah Prasuhn" >
  <p>I am an artist who is also an urban mom, a principal in <a href="http://shomeya.com">Shomeya</a>, and a late blooming filmmaker. Most of my creating takes place in Portland, Oregon, where I use web technologies (Drupal, Ruby, Node.js, CSS, etc.), as well as photography and acrylics to produce an art or two. You can find me on <a href="https://twitter.com/#!/sarah__p" rel="me">Twitter</a>, <a href="https://github.com/sarahp">GitHub</a>, <a href="http://drupal.org/user/199064" rel="me">Drupal.org</a>, or <a href="https://www.facebook.com/sarahunderscorep">Facebook</a>.</p>
</div>
